<nav>
    <a href="https://webpages.charlotte.edu/rstandar/">CLT site</a> 🦥
    <a href="https://github.com/RhiannonStandard">Github</a> 🦥
    <a href="https://github.com/RhiannonStandard/rstandar.github.io">Github.io</a> 🦥
    <a href="https://www.freecodecamp.org/RhiannonStandard">freeCodeCamp</a> 🦥
    <a href="https://www.codecademy.com/profiles/RhiannonStandard">Codecademy</a> 🦥
    <a href="https://www.linkedin.com/in/rhiannon-standard-376a2a266/">LinkedIn</a>
</nav>
<p>Page built by <a href="#">Standard Enterprise, <em><a href="https://www.freecodecamp.org/certification/RhiannonStandard/responsive-web-design" target="_blank">Certified in Responsive Web Design</a></em></a></a>
    &copy; 2025</p>